# ==========================
# Archivos sensibles
# ==========================
# Ignora el archivo real de conexión
src/main/resources/db.properties

# Permite un ejemplo sin credenciales
!src/main/resources/db.example.properties

# ==========================
# Carpetas de compilación
# ==========================
/build/

# ==========================
# Archivos de IDE
# ==========================
# Eclipse
.classpath
.project
.settings/
# IntelliJ
.idea/
*.iml

# ==========================
# Logs y temporales
# ==========================
*.log
*.tmp
*.bak