html {
	height: 100%;
  	margin: 0;
  	padding: 0;
  	overflow-y: scroll;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    height: 100%;
  	margin: 0;
  	padding: 0;
}

#sidebarMenu {
  height: 100vh;
}

.nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #d6d8db;
  color: #212529 !important;
}
